<h1>Here you have details of the offer</h1>

<ul>
  <li> Start Date :<%= @offer.start_date %></li>
  <li> End Date : <%= @offer.end_date %></li>
  <li> Address : <%= @offer.address %></li>
  <li> Fee : <%= @offer.fee %></li>
  <li> Status : <%= @offer.status %></li>
</ul>
